* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 400;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

button,
a {
  display: inline-block;
  cursor: pointer;
}

span {
  display: inline-block;
}

strong {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.custom-shape-divider-bottom-1673645255 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673645255 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
}

.custom-shape-divider-bottom-1673645255 .shape-fill {
  fill: #ffffff;
}

.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  align-items: center;
}

.content {
  position: relative;
}

.hero h1 {
  position: relative;
}

.hero h1 .normal {
  position: relative;
  z-index: 9;
  color: white;
  font-weight: bold;
  font-size: 62px;
}

.hero h1 .shadow {
  position: absolute;
  font-weight: bold;
  font-size: 300px;
  top: -262px;
  opacity: 0.4;
}

.hero p {
  position: relative;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

a svg,
.hero a svg {
  width: 24px;
  margin-left: 0.3rem;
  transform: translateX(0);
  transition: transform 200ms ease-in-out;
}

a:hover svg {
  transform: translateX(50%);
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3rem;
  transform-origin: 0 50%;
  transform: scaleX(0.3);
  transition: transform 200ms ease-in-out;
}

a:hover:after {
  transform: scaleX(1.1);
}

.hero svg {
  width: 100%;
}

.how-works {
  padding: 3rem 0;
}

.how-works .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 2rem 0;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  border-radius: 1rem;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container > * + * {
  margin-left: 1rem;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.card p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.card a {
  color: #0093e9;
}

.card a:after {
  background-color: #0093e9;
}

.icon-container {
  width: 42px;
  height: 42px;
  background-color: #0093e9;
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: white;
}
